Repository voxpupuli/puppet-systemd, pull requests merged in 2018-10, with the labels that each got.

#88 Add support for DNSoverTLS
  README.md
  data/common.yaml
  manifests/init.pp
  manifests/resolved.pp
  spec/classes/init_spec.rb
Labels: enhancement

#41 unit.d directory should be purged of unmanaged dropin files
  data/common.yaml
  manifests/dropin_file.pp
  manifests/init.pp
  spec/defines/dropin_file_spec.rb
Labels: enhancement, needs-rebase

#14 Add Journald support
  README.md
  data/common.yaml
  manifests/init.pp
  manifests/journald.pp
  metadata.json
  spec/classes/init_spec.rb
Labels: enhancement, needs-rebase

#89 Manage journald service and configuration
  manifests/init.pp
  types/journaldsettings.pp
  types/journaldsettings/ensure.pp
Labels: enhancement, needs-work
