Repository voxpupuli/puppet-systemd, pull requests merged in 2019-10, with the labels that each got.

#121 add support for 'VirtuozzoLinux 7'
  data/VirtuozzoLinux-7.yaml
  metadata.json
Labels: enhancement

#122 Correct order when ensuring unit files are absent
  manifests/unit_file.pp
  spec/defines/unit_file_spec.rb
Labels: bug

#120 Manage logind service and configuration
  README.md
  data/common.yaml
  manifests/init.pp
  manifests/logind.pp
  spec/classes/init_spec.rb
  types/logindsettings.pp
  types/logindsettings/ensure.pp
Labels: enhancement

#124 release 2.7.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
