Repository voxpupuli/puppet-systemd, pull requests merged in 2021-09, with the labels that each got.

#218 CentOS 8: Enable more accounting options
  data/CentOS-8.yaml
  data/RedHat-8.yaml
Labels: enhancement

#219 Release 3.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#220 Add systemd::escape function
  README.md
  REFERENCE.md
  functions/escape.pp
  spec/functions/escape_spec.rb
Labels: enhancement

#222 Add Debian 11 support
  data/Debian-11.yaml
  metadata.json
Labels: enhancement

#223 Add additional hash parameters for defined types
  REFERENCE.md
  manifests/init.pp
  spec/classes/init_spec.rb
Labels: enhancement

#227 Add Gentoo support
  data/Gentoo.yaml
  metadata.json
  spec/classes/init_spec.rb
Labels: enhancement

#224 Release 3.5.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#228 modulesync 4.2.0
  .github/workflows/ci.yml
Labels: modulesync

#229 Declare a default for $accounting
  manifests/init.pp
Labels: bug

#230 Correct use_stub_resolver example in README
  README.md
Labels: bugfix
