Repository voxpupuli/puppet-systemd, pull requests merged in 2021-07, with the labels that each got.

#201 Accept Datatype Sensitive for $content
  manifests/unit_file.pp
  spec/defines/unit_file_spec.rb
Labels: enhancement

#202 release 3.1.0
  CHANGELOG.md
  README.md
  metadata.json
Labels: skip-changelog

#206 Fix `Optional` datatype for non-optional parameters
  REFERENCE.md
  manifests/dropin_file.pp
  manifests/service_limits.pp
  manifests/udev/rule.pp
Labels: bugfix

#205 systemd::network: Validate if content/source are set for file resource
  manifests/network.pp
  spec/defines/network_spec.rb
Labels: enhancement

#209 Add option to purge non-managed networkd files
  REFERENCE.md
  data/common.yaml
  manifests/init.pp
  manifests/networkd.pp
  spec/classes/init_spec.rb
Labels: enhancement

#210 Release 3.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
