Repository voxpupuli/puppet-systemd, pull requests merged in 2022-01, with the labels that each got.

#239 timesyncd compatibility with Debian 8
  manifests/timesyncd.pp
Labels: bugfix

#240 modulesync 5.1.0
  .puppet-lint.rc
  .sync.yml
  Gemfile
Labels: modulesync

#241 Release 3.5.2
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#244 Manage entries in modules-load.d directory
  README.md
  REFERENCE.md
  manifests/modules_load.pp
  manifests/modules_loads.pp
  spec/defines/modules_load_spec.rb
Labels: enhancement
