Repository voxpupuli/puppet-systemd, pull requests merged in 2022-02, with the labels that each got.

#245 systemd::escape: Also escape - (dash)
  functions/escape.pp
  spec/functions/escape_spec.rb
Labels: bug

#246 Install systemd-resolved on CentOS 8 and 9
  README.md
  REFERENCE.md
  data/RedHat-8.yaml
  data/RedHat-9.yaml
  manifests/init.pp
  manifests/install.pp
  spec/classes/init_spec.rb
Labels: enhancement

#247 unit_file: Implement hasrestart/hasstatus
  REFERENCE.md
  manifests/unit_file.pp
  spec/defines/unit_file_spec.rb
Labels: enhancement

#248 unit_file: Implement selinux_ignore_defaults
  REFERENCE.md
  manifests/unit_file.pp
  spec/defines/unit_file_spec.rb
Labels: enhancement

#249 Release 3.6.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#251 Manage systemd-coredump config and setup
  README.md
  REFERENCE.md
  manifests/coredump.pp
  manifests/init.pp
  spec/classes/init_spec.rb
  spec/type_aliases/systemd_coredumpsettings_spec.rb
  types/coredumpsettings.pp
Labels: enhancement

#254 Do not install systemd-resolved RedHat 8
  data/RedHat-8.yaml
  spec/classes/init_spec.rb
Labels: bug

#256 New parmater manage_resolv_conf for /etc/resolv.conf
  REFERENCE.md
  manifests/init.pp
  manifests/resolved.pp
  spec/classes/init_spec.rb
Labels: enhancement

#252 Don't manage /etc/resolv.conf if systemd-resolved is stopped
  README.md
  REFERENCE.md
  manifests/init.pp
  manifests/resolved.pp
  spec/acceptance/resolved_spec.rb
  spec/classes/init_spec.rb
Labels: bug

#257 Install systemd-resolved on RedHat 7
  README.md
  data/RedHat-7.yaml
  spec/acceptance/resolved_spec.rb
  spec/classes/init_spec.rb
Labels: enhancement

#258 Release 3.7.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
