Repository voxpupuli/puppet-systemd, pull requests merged in 2022-03, with the labels that each got.

#259 dropin_file: Implement service_parameters hash
  REFERENCE.md
  manifests/unit_file.pp
  spec/defines/unit_file_spec.rb
Labels: enhancement

#260 systemd::udev::rule: param rules now defaults to `[]` / fix broken tests
  manifests/udev/rule.pp
  spec/defines/udev_rules_spec.rb
Labels: bug

#262 modulesync 5.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  Dockerfile
  Gemfile
Labels: modulesync

#263 Release 3.8.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#266 Add CentOS 9 to supported operating systems
  metadata.json
Labels: enhancement

#267 Allows % and infinity for Memory Limits + Add MemoryMin
  spec/type_aliases/systemd_servicelimits_spec.rb
  types/servicelimits.pp
Labels: enhancement

#243 Add function systemd::systemd_escape
  README.md
  lib/puppet/functions/systemd/systemd_escape.rb
  spec/functions/systemd_escape_spec.rb
Labels: enhancement

#268 Support Service Limits specified in Bytes
  spec/type_aliases/systemd_servicelimits_spec.rb
  types/servicelimits.pp
Labels: enhancement
