Repository voxpupuli/puppet-systemd, pull requests merged in 2023-01, with the labels that each got.

#304 Allow MemorySwapMax to be specified as service limit
  REFERENCE.md
  spec/defines/service_limits_spec.rb
  spec/type_aliases/systemd_servicelimits_spec.rb
  types/servicelimits.pp
Labels: enhancement

#305 Remove debian 8 support
  data/Debian-8.yaml
  manifests/timesyncd.pp
  metadata.json
Labels: backwards-incompatible

#310 drop support for fedora 30 & 31 (EOL)
  metadata.json
Labels: backwards-incompatible

#309 add support for fedora 36 & 37
  metadata.json
Labels: enhancement

#308 drop support for ubuntu 16.04 (EOL)
  data/Ubuntu-16.04.yaml
  metadata.json
Labels: backwards-incompatible

#307 drop debian 9 support (EOL)
  data/Debian-9.yaml
  metadata.json
Labels: backwards-incompatible

#193 Remove restart_service on service_limits define
  REFERENCE.md
  manifests/service_limits.pp
  spec/defines/service_limits_spec.rb
Labels: backwards-incompatible

#264 systemd::unit_file: remove hasrestart/hasstatus params
  manifests/unit_file.pp
  spec/defines/unit_file_spec.rb
Labels: backwards-incompatible

#292 add udevadm & udev facts
  lib/facter/systemd.rb
  lib/facter/udev.rb
  lib/facter/udevadm.rb
  spec/fixtures/udevdb/almalinux8-supermicro-1114S-WN10RT.txt
  spec/fixtures/udevdb/almalinux9-supermicro-1114S-WN10RT.txt
  spec/fixtures/udevdb/centos7-supermicro-1114S-WN10RT.txt
  spec/fixtures/udevdb/fedora37-supermicro-X10SRA-F.txt
  spec/unit/facter/systemd_spec.rb
  spec/unit/facter/udev_spec.rb
  spec/unit/facter/udevadm_spec.rb
Labels: enhancement

#313 Add restart_service parameter on service_limits for compatibility
  REFERENCE.md
  manifests/service_limits.pp
Labels: bug

#312 release 4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#315 systemd::timer: fix before's argument to use the proper syntax
  manifests/timer.pp
Labels: bug
