Repository voxpupuli/puppet-systemd, pull requests merged in 2023-10, with the labels that each got.

#371 Implement DNSStubListenerExtra for resolved.conf
  REFERENCE.md
  manifests/init.pp
  manifests/resolved.pp
  spec/classes/init_spec.rb
Labels: enhancement

#383 (#382) Update types to allow for % where appropriate
  REFERENCE.md
  types/journaldsettings.pp
Labels: bug

#385 Add OracleLinux 9 support
  metadata.json
Labels: enhancement

#386 Add Debian 12 support
  data/Debian-12.yaml
  metadata.json
Labels: enhancement

#387 Revert "(#382) Update types to allow for % where appropriate"
  REFERENCE.md
  types/journaldsettings.pp
Labels: skip-changelog

#380 Install systemd-networkd package, if any
  REFERENCE.md
  data/RedHat-family-7.yaml
  data/RedHat-family-8.yaml
  data/RedHat-family-9.yaml
  data/RedHat-family.yaml
  hiera.yaml
  manifests/init.pp
  manifests/install.pp
  spec/acceptance/networkd_spec.rb
  spec/classes/init_spec.rb
Labels: enhancement

#357 Support Debian 12
  README.md
  spec/acceptance/resolved_spec.rb
  spec/classes/init_spec.rb
Labels: enhancement

#388 Release 6.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
