Repository voxpupuli/puppet-systemd, pull requests merged in 2023-06, with the labels that each got.

#347 Release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#349 Relax stdlib dependency version requirements
  metadata.json
Labels: enhancement

#350 Socket support for manage unit and dropin
  REFERENCE.md
  manifests/manage_dropin.pp
  manifests/manage_unit.pp
  spec/defines/manage_dropin_spec.rb
  spec/defines/manage_unit_spec.rb
  spec/type_aliases/systemd_unit_socket_spec.rb
  templates/unit_file.epp
  types/unit/socket.pp
Labels: enhancement

#333 Add comment in manage_unit deployed files
  spec/defines/manage_dropin_spec.rb
  templates/unit_file.epp
Labels: enhancement

#345 No insistence on unit_entry ever or service_entry with absent manage_unit
  REFERENCE.md
  manifests/manage_unit.pp
  spec/defines/manage_unit_spec.rb
Labels: enhancement

#353 Support StandardOutput, StandardError and RequiresMountsFor.
  REFERENCE.md
  spec/type_aliases/systemd_unit_service_spec.rb
  spec/type_aliases/systemd_unit_unit_spec.rb
  types/unit/service.pp
  types/unit/unit.pp
Labels: enhancement

#352 Allow WorkingDirectory to be specified in [Service]
  REFERENCE.md
  spec/type_aliases/systemd_unit_service_spec.rb
  types/unit/service.pp
Labels: enhancement

#351 Release 5.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#354 Correct syntax in manage_unit socket example
  REFERENCE.md
  manifests/manage_unit.pp
Labels: docs
