Repository voxpupuli/puppet-systemd, pull requests merged in 2023-04, with the labels that each got.

#327 Stick to the Puppet language style guide
  README.md
  REFERENCE.md
  manifests/manage_unit.pp
  manifests/modules_load.pp
Labels: docs

#330 modulesync 5.5.0
  .github/SECURITY.md
  .gitignore
  .msync.yml
  .pmtignore
  Gemfile
  Rakefile
Labels: modulesync

#329 Add AmbientCapabilities to Systemd::Unit::Service
  REFERENCE.md
  types/unit/service.pp
Labels: enhancement

#335 Addition of timer directives to manage_unit and manage_dropin
  REFERENCE.md
  spec/defines/manage_unit_spec.rb
  spec/type_aliases/systemd_unit_timer_spec.rb
  types/unit/timer.pp
Labels: enhancement

#334 Allow DefaultDependencies to be set in [Unit] section
  REFERENCE.md
  spec/defines/manage_dropin_spec.rb
  spec/defines/manage_unit_spec.rb
  spec/type_aliases/systemd_unit_unit_spec.rb
  types/unit/unit.pp
Labels: enhancement

#337 Addition of path directives to manage_unit/dropin
  REFERENCE.md
  manifests/manage_dropin.pp
  manifests/manage_unit.pp
  spec/defines/manage_dropin_spec.rb
  spec/defines/manage_unit_spec.rb
  spec/type_aliases/systemd_unit_path_spec.rb
  templates/unit_file.epp
  types/unit/path.pp
Labels: enhancement
