Repository voxpupuli/puppet-systemd, pull requests merged in 2023-05, with the labels that each got.

#339 Allow SyslogIdentifier, KillMode and KillSignal to [service] section
  REFERENCE.md
  spec/defines/manage_dropin_spec.rb
  spec/defines/manage_unit_spec.rb
  spec/type_aliases/systemd_unit_service_spec.rb
  types/unit/service.pp
Labels: enhancement

#342 Drop Puppet 6 support
  metadata.json
Labels: backwards-incompatible

#341 Allow LimitCORE in [Service] for manage_unit/dropin
  REFERENCE.md
  manifests/manage_dropin.pp
  spec/defines/manage_dropin_spec.rb
  spec/type_aliases/systemd_unit_service_spec.rb
  types/unit/service.pp
Labels: enhancement

#346 modulesync 6.0.0
  .msync.yml
  Gemfile
Labels: modulesync
