Repository voxpupuli/puppet-systemd, pull requests merged in 2023-12, with the labels that each got.

#399 Correct coredump parameter from MaxFree to KeepFree
  README.md
  REFERENCE.md
  spec/type_aliases/systemd_coredumpsettings_spec.rb
  types/coredumpsettings.pp
Labels: bug

#401 Allow percent (%) character in unit names.
  REFERENCE.md
  manifests/manage_dropin.pp
  spec/defines/manage_dropin_spec.rb
  spec/type_aliases/unit_spec.rb
  types/unit.pp
Labels: enhancement

#402 modulesync 7.2.0
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#403 systemd::cache = false result was vague.
  REFERENCE.md
  manifests/init.pp
  manifests/resolved.pp
  spec/classes/init_spec.rb
Labels: bug
