Repository voxpupuli/puppet-systemd, pull requests merged in 2023-07, with the labels that each got.

#358 Allow SupplementaryGroups and DynamicUser
  REFERENCE.md
  spec/type_aliases/systemd_unit_service_spec.rb
  types/unit/service.pp
Labels: enhancement

#362 allow to set StandardInput on service unit
  REFERENCE.md
  spec/type_aliases/systemd_unit_service_spec.rb
  types/unit/service.pp
Labels: enhancement

#363 Nice, IOSchedulingPriority and IOSchedulingClass
  REFERENCE.md
  spec/type_aliases/systemd_unit_service_spec.rb
  types/unit/service.pp
Labels: enhancement

#364 Release 5.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#366 Remove support for Fedora 36 and add support for Fedora 38
  metadata.json
Labels: enhancement

#365 Drop Ubuntu 18.04 which went out of standard support in May 2023
  data/Ubuntu-18.04.yaml
  metadata.json
Labels: backwards-incompatible

#359 Add Puppet 8 support
  metadata.json
Labels: enhancement

#368 add PrivateTmp and RuntimeDirectory
  REFERENCE.md
  types/unit/service.pp
Labels: enhancement

#367 add ability to set limits with the systemd::manage_unit resource
  REFERENCE.md
  spec/type_aliases/systemd_unit_service_spec.rb
  types/unit/service.pp
Labels: enhancement
