Repository voxpupuli/puppet-systemd, pull requests merged in 2024-07, with the labels that each got.

#472 Allow `MemorySwapMax` be specified as a percentage
  REFERENCE.md
  spec/type_aliases/systemd_unit_service_spec.rb
  types/unit/service.pp
Labels: enhancement

#475 allow service time settings to accept Integer values
  REFERENCE.md
  types/unit/service.pp
Labels: enhancement

#476 README.md: correct service limits example
  README.md
Labels: docs

#477 modulesync 9.1.0
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#480 Replace deprecated `shell_escape` function with `stdlib::shell_escape`
  manifests/init.pp
  metadata.json
Labels: backwards-incompatible
