Repository voxpupuli/puppet-systemd, pull requests merged in 2024-04, with the labels that each got.

#446 Manage units running under `systemd --user` instance
  REFERENCE.md
  manifests/user_service.pp
  metadata.json
  spec/defines/user_service_spec.rb
Labels: enhancement

#437 Deprecate `systemd::service_limits`
  README.md
  REFERENCE.md
  manifests/init.pp
  manifests/service_limits.pp
  spec/classes/init_spec.rb
  spec/defines/service_limits_spec.rb
  templates/limits.erb
  types/servicelimits.pp
Labels: backwards-incompatible

#448 Drop EoL Debian 10 support
  data/Debian-10.yaml
  metadata.json
  spec/classes/init_spec.rb
  spec/defines/daemon_reload_spec.rb
Labels: backwards-incompatible

#449 Correctly interpolate variables in service_limits
  manifests/service_limits.pp
Labels: bug

#453 modulesync 7.4.0
  .github/CONTRIBUTING.md
  .msync.yml
  Dockerfile
Labels: modulesync

#452 remove `systemd::escape` usage for `timer_wrapper`
  manifests/timer_wrapper.pp
  spec/defines/timer_wrapper_spec.rb
Labels: backwards-incompatible

#429 remove resolved settings from config when changed to `absent`
  REFERENCE.md
  manifests/init.pp
  manifests/resolved.pp
  spec/classes/init_spec.rb
Labels: enhancement

#456 Release 7.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
