Repository voxpupuli/puppet-systemd, pull requests merged in 2024-09, with the labels that each got.

#489 README: fix path in example
  README.md
Labels: docs

#490 Support Mount units for manage_unit or dropin types
  REFERENCE.md
  manifests/manage_dropin.pp
  manifests/manage_unit.pp
  spec/defines/manage_dropin_spec.rb
  spec/defines/manage_unit_spec.rb
  spec/type_aliases/systemd_unit_mount_spec.rb
  templates/unit_file.epp
  types/unit/mount.pp
Labels: enhancement

#491 modulesync 9.2.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#492 modulesync 9.3.0
  .github/workflows/release.yml
  .msync.yml
Labels: modulesync
