Repository voxpupuli/puppet-systemd, pull requests merged in 2024-06, with the labels that each got.

#406 fix: refresh service only based on drop-in file changes
  manifests/dropin_file.pp
  spec/defines/dropin_file_spec.rb
Labels: enhancement

#465 add MemoryDenyWriteExecute to Systemd::Unit::Service type
  REFERENCE.md
  types/unit/service.pp
Labels: enhancement

#467 modulesync 8.0.1
  .github/workflows/ci.yml
  .msync.yml
  .overcommit.yml
  .rspec
  .rspec_parallel
  Gemfile
Labels: modulesync

#466 release version 7.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#469 modulesync 9.0.0
  .github/labeler.yml
  .msync.yml
  Gemfile
Labels: modulesync

#468 Rework Red Hat resolved package list to be more future proof
  data/RedHat-family-7.yaml
  data/RedHat-family-8.yaml
  data/RedHat-family-9.yaml
  data/RedHat-family.yaml
  spec/classes/init_spec.rb
Labels: enhancement

#471 timesyncd.pp: Fix typo in documentation
  manifests/timesyncd.pp
Labels: skip-changelog
