Repository voxpupuli/puppet-systemd, pull requests merged in 2024-02, with the labels that each got.

#411 modulesync 7.3.0
  .github/workflows/ci.yml
  .msync.yml
Labels: modulesync

#412 Support `StartLimitIntervalSec` and `StartLimitBurst`
  REFERENCE.md
  spec/type_aliases/systemd_unit_unit_spec.rb
  types/unit/unit.pp
Labels: enhancement

#413 Release 6.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#415 manage_unit: correct minor mistakes in examples
  REFERENCE.md
  manifests/manage_unit.pp
Labels: docs
