Repository voxpupuli/puppet-systemd, pull requests merged in 2024-03, with the labels that each got.

#420 Support `[Slice]` in manage_unit and manage_dropin
  REFERENCE.md
  manifests/manage_dropin.pp
  manifests/manage_unit.pp
  spec/defines/manage_dropin_spec.rb
  spec/defines/manage_unit_spec.rb
  spec/type_aliases/systemd_unit_amount_spec.rb
  spec/type_aliases/systemd_unit_amountorpercent_spec.rb
  spec/type_aliases/systemd_unit_percent_spec.rb
  spec/type_aliases/systemd_unit_slice_spec.rb
  templates/unit_file.epp
  types/unit/amount.pp
  types/unit/amountorpercent.pp
  types/unit/percent.pp
  types/unit/slice.pp
Labels: enhancement

#422 Use Systemd::Unit::Amount, Percent and AmountOrPercent
  REFERENCE.md
  spec/type_aliases/systemd_unit_amount_spec.rb
  spec/type_aliases/systemd_unit_amountorpercent_spec.rb
  spec/type_aliases/systemd_unit_service_spec.rb
  spec/type_aliases/systemd_unit_slice_spec.rb
  types/coredumpsettings.pp
  types/journaldsettings.pp
  types/logindsettings.pp
  types/unit/amount.pp
  types/unit/service.pp
  types/unit/slice.pp
Labels: enhancement

#423 Allow CPUQuota to be greater than 100%
  REFERENCE.md
  spec/type_aliases/systemd_unit_service_spec.rb
  spec/type_aliases/systemd_unit_slice_spec.rb
  types/unit/service.pp
  types/unit/slice.pp
Labels: bug

#421 Release 6.5.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#427 Release 6.6.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#405 `systemd::unit_file`: Ensure link gets removed on `ensure => absent`
  manifests/unit_file.pp
  metadata.json
  spec/defines/unit_file_spec.rb
Labels: enhancement

#430 Correct typing for IOReadIOPSMax, IOWriteIOPSMax,... in systemd::manage_dropin
  REFERENCE.md
  manifests/manage_dropin.pp
  spec/defines/manage_dropin_spec.rb
  spec/defines/manage_unit_spec.rb
  spec/type_aliases/systemd_unit_service_spec.rb
  templates/unit_file.epp
  types/unit/service.pp
  types/unit/slice.pp
Labels: bug

#433 Make service restart upon unit file change optional
  REFERENCE.md
  manifests/manage_unit.pp
  manifests/unit_file.pp
  spec/defines/unit_file_spec.rb
Labels: enhancement

#436 Create manage_unit, manage_dropin types from hiera
  README.md
  REFERENCE.md
  manifests/init.pp
  spec/classes/init_spec.rb
Labels: enhancement

#439 `init`: `service_limits` param: don't refer to `create_resources`
  REFERENCE.md
  manifests/init.pp
Labels: docs

#434 Don't allow ensure=file anymore for systemd::unit_file
  REFERENCE.md
  manifests/unit_file.pp
Labels: backwards-incompatible, bug

#441 Add NetworkNamespacePath as a valid unit service configuration
  REFERENCE.md
  types/unit/service.pp
Labels: enhancement

#438 Use Stdlib::CreateResources type for hiera expansions
  REFERENCE.md
  manifests/init.pp
  metadata.json
Labels: backwards-incompatible
