Repository voxpupuli/puppet-systemd, pull requests merged in 2025-08, with the labels that each got.

#547 Drop puppet, update openvox minimum version to 8.19
  metadata.json
Labels: backwards-incompatible

#554 allow `CPUQuota` type to be empty, per systemd.resource-control(5)
  REFERENCE.md
  spec/type_aliases/systemd_unit_service_spec.rb
  spec/type_aliases/systemd_unit_slice_spec.rb
  types/servicelimits.pp
  types/unit/service.pp
  types/unit/slice.pp
Labels: bug

#555 timer_wrapper: Add pre/post commands
  REFERENCE.md
  manifests/timer_wrapper.pp
  spec/defines/timer_wrapper_spec.rb
Labels: enhancement

#557 Modulesync
  .github/CONTRIBUTING.md
Labels: skip-changelog, modulesync
