Repository voxpupuli/puppet-systemd, pull requests merged in 2025-01, with the labels that each got.

#508 Add a few more missing service options
  REFERENCE.md
  types/unit/service.pp
Labels: enhancement

#507 Add Missing Condition Units which were added in version244
  REFERENCE.md
  types/unit/unit.pp
Labels: enhancement

#509 Release 8.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#512 docs: describe how to deploy systemd templates
  README.md
Labels: docs

#513 Add support for .link units and dropins
  REFERENCE.md
  manifests/manage_dropin.pp
  manifests/manage_unit.pp
  spec/defines/manage_dropin_spec.rb
  spec/defines/manage_unit_spec.rb
  spec/type_aliases/systemd_unit_link_spec.rb
  spec/type_aliases/systemd_unit_match_spec.rb
  spec/type_aliases/unit_spec.rb
  templates/unit_file.epp
  types/unit.pp
  types/unit/link.pp
  types/unit/match.pp
Labels: enhancement
